.top_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 0px;
    }
.top_box {
    border: 5px outset white;
    background-color: white(255, 255, 255);
    text-align: center;
    height: 200px;
    }
.bottom_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 0px;
}
nav {
    background-color: black;
    color: white;
}

.jo_b { grid-area: 1 / 1 / 2 / 2; }
.work { grid-area: 1 / 2 / 2 / 3; }
.lapt { grid-area: 1 / 3 / 2 / 4; }